.container
{
    width: 40%;
    border:2px solid red;
}
.formBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.formBox input{
    width: 98%;
    padding: 8px;
    margin: 5px;
    font-size: 18px;
}
.GenderSection label {
    font-size: 19px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

}

.formBox button{
    padding: 10px;
    background-color: rgb(5 6 5);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 60px;
    cursor: pointer;
    margin: 5px;
   
}